/* Animated image classes */
.animated-img {
    animation-duration : 2s;
    animation-delay    : 2s;
    animation-fill-mode: both;
}

/* Keyframes for each image */
@keyframes move-1 {
    from {
        top   : 15%;
        left  : 82%;
        height: 60px;
    }

    to {
        top   : 30%;
        left  : 94%;
        height: 80px;
    }
}

@keyframes move-2 {
    from {
        top   : 30%;
        left  : 94%;
        height: 80px;
    }

    to {
        top   : 50%;
        left  : 98%;
        height: 120px;
    }
}

@keyframes move-3 {
    from {
        top   : 50%;
        left  : 98%;
        height: 120px;
    }

    to {
        top   : 70%;
        left  : 94%;
        height: 80px;
    }
}

@keyframes move-4 {
    from {
        top   : 70%;
        left  : 94%;
        height: 80px;
    }

    to {
        top   : 85%;
        left  : 82%;
        height: 60px;
    }
}

@keyframes move-5 {
    from {
        top   : 85%;
        left  : 82%;
        height: 60px;
    }

    to {
        top   : 15%;
        left  : 82%;
        height: 60px;
    }
}

/* Apply the animations to the respective images */
.img-1 {
    animation-name: move-1;
}

.img-2 {
    animation-name: move-2;
}

.img-3 {
    animation-name: move-3;
}

.img-4 {
    animation-name: move-4;
}

.img-5 {
    animation-name: move-5;
}